.home-offer-container {
    margin: 2rem 0;
}

.home-offer-container h2 {
    font-size: 1.5rem;
    flex-wrap: wrap;
    width: 100%;
}

.home-offer-cards {
    gap: 2.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* grid-template-columns: repeat(auto-fill, 1fr); */
    padding: 1rem 2rem;
}

.home-offer-card {
    padding: 1rem 0 1.5rem 0;
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    width: 100%;
    position: relative;
}

.home-offer-card h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.home-offer-card-content p {
    color: gray;
    font-size: 0.8rem;
}

#home-offer-card-price {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0.5rem;
    color: rgb(46, 46, 46)
}

.card-offer-btn-container {
    position: absolute;
    bottom: -1.2rem;
    width: 100%;
}

.card-offer-btn {
    display: block;
    width: 80%;
    padding: 0.5rem 1rem;
    background-color: var(--yellow-color);
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 1rem;
}

.card-offer-btn:hover {
    background-color: var(--orange-color);
    color: white;
}

.hot-offer {
    top: -0.8rem;
    left: -0.8rem;
    width: 2rem;
    height: 2rem;
}

.see-more-btn-container {
    margin: 2.5rem 0;
}

.see-more-btn {
    background-color: var(--background-color);
    color: white;
    padding: 0.6rem 1rem;
    width: 60%;
}

.see-more-btn:hover {
    background-color: var(--red-color);
    color: white;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .home-offer-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .home-offer-cards>*:nth-child(n+3) {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .home-offer-container h2 {
        font-size: 2rem;
    }

    .home-offer-cards {
        padding: 1.5rem 2rem;
    }

    .home-offer-card {
        padding: 1.5rem 0 2rem 0;
    }

    .home-offer-card h3 {
        font-size: 1.2rem;
    }

    .see-more-btn-container {
        margin: 3rem 0;
    }
}

@media screen and (min-width: 1030px) {
    .home-offer-container h2 {
        font-size: 2.5rem;
    }

    .home-offer-cards {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        padding: 1rem 2rem;
    }

    .home-offer-container h2 {
        padding: 2rem 0 1rem 0;
    }

    .hot-offer {
        width: 3.5rem;
        height: 3.5rem;
        top: -1.2rem;
        left: -1.2rem;
    }

    .see-more-btn-container {
        margin: 4rem 0;
    }
}