.location-footer{
    display: flex;
    background-color: var(--yellow-color);
    align-items: center;
    padding: 1rem 0;

}

.location-footer-content{
    width: 70%;
    font-size: 1.2rem;
    margin: 0 2rem;
}

.location-footer-btn {
    background-color: var(--background-color);
    color: var(--font-light-color);
    padding: .7rem 2rem;
    width: 10rem;
    font-size: 1.2rem;
    transition: 0.1s;
    cursor: pointer;
    margin-left: auto;
    margin-right: 2rem;
}

.location-footer-btn:hover{
    background-color: white;
    color: var(--yellow-color);
}

@media (max-width: 768px) {
    .location-footer {
        flex-direction: column;
        height: auto;
        padding: 1.5rem;
        text-align: center;
    }

    .location-footer-title {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .location-footer-btn {
        margin: 2rem auto 0 auto;
    }
}

@media (max-width: 480px) {
    .location-footer {
        padding: 1.5rem;
    }

    .location-footer-title {
        font-size: 1.8rem;
    }

    .location-footer-btn {
        font-size: 1rem;
        padding: 0.6rem 1.5rem;
        margin-top: .5rem;
    }
}