:root {
    --background-color: #0F1C2F;
    --background-light-color: #2e344e;
    --background-light-color: #F1F1F1;
    --yellow-color: #FDB90A;
    --orange-color: #FF641A;
    --red-color: #F31717;
    --font-dark-color: #414040;
    --font-light-color: #F1F1F1;
}

.im-fell-double-pica-sc-regular {
    font-family: "IM Fell Double Pica SC", serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-condensed {
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */