/* Import Tailwind CSS directives */
@import "tailwindcss";

@theme {
    --color-dark: #0F1C2F;
    --color-light: #2e344e;
    --color-light-gray: #3A3A3A;
    --color-yellow: #FDB90A;
    --color-orange: #FF641A;
    --color-red: #F31717;
    --collor-blue: #1E90FF;
    --text-color-light: #F1F1F1;
    --text-dark-gray: #333333;

    --font-Fell: "IM Fell Double Pica SC", serif;
    --font-Roboto-Condensed: "Roboto Condensed", serif;
    --font-Roboto: "Roboto", serif;
}